* {
    main-bg:            #333130E6;
    main-fg:            #F6ECC4;
    main-br:            #928374;
    main-ex:            #58504A;
    select-bg:          #F6ECC4;
    select-fg:          #333130;
}
