* {
    main-bg:            #0F101EE6;
    main-fg:            #65718D;
    main-br:            #43425A;
    main-ex:            #4C4C53;
    select-bg:          #646A83;
    select-fg:          #F0EFE1;
}
